body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    height: 100vh;
}

.menu {
    display: grid;
    background: #272626;
    grid-column: 1 / 11;
    grid-template: repeat(1, 50px) / repeat(5, 1fr);
}

.menu-content {
    background: #141212;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
}

.categories {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background: #141212;
    grid-column: 1 / 3;
    grid-row: 2 / 10;
}

.links {
    background: greenyellow;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.design {
    background: cornflowerblue;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.programming {
    background: red;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.contenido {
    background: indigo;
    grid-column: 3 / 11;
    grid-row: 2 / 10;
}

.footer {
    background: khaki;
    grid-column: 1 / 11;
    grid-row: 10 / 11;
}

.title {
    font-size: 2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    cursor: pointer;
    margin-left: 25%;
}

.jc {
    color: white;
    background: #000;
    border-radius: 10px 0px 0px 10px;
    padding: 2px;
}

.dev {
    color: black;
    border-radius: 0px 10px 10px 0px;
    padding: 2px;
    animation: colores 5s ease-in-out infinite;
}

@keyframes colores {
    0%,
    100% {
        background-color: tomato;
    }
    40% {
        background-color: yellowgreen;
    }
    80% {
        background-color: #4464a4;
    }
}