body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: grid;
    grid-template: repeat(11, 1fr) / 50px repeat(9, 1fr);
    height: 100vh;
    overflow: hidden;
}

:root {
    --Navbar: #2c303a;
    --footer: #1B1919;
    --color1: #050505;
    --color2: #212121;
    --color3: #3e3e3e;
    --color4: #595959;
    --color5: #3e3e3e;
    --color6: #212121;
    --color7: #050505;
    --color8: #110F0F;
    --color9: #161414;
    --color10: white;
    /*----------HOVER---------- */
    --hover-design: #4464a4;
    --hover-programming: #de4c36;
    --hover-github: #00d8ff;
    --hover-html: #c3002f;
    --hover-css: #c7b31a;
    --hover-angular: #ff6347;
    --hover-react: #9acd32;
}

.menu {
    display: grid;
    background: var(--Navbar);
    grid-column: 1 / 11;
    grid-template-columns: repeat(15, 1fr);
    width: 100%;
    height: 60px;
}

.menu-content {
    color: var(--black);
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
}

.categories {
    display: grid;
    /*  grid-template: repeat(9, 1fr) / repeat(2, 1fr); */
    grid-column: 1 / 2;
    grid-row: 2 / 11;
    background: var(--color7);
}

.Design {
    background: var(--color1);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: center;
}

.Programming {
    background: var(--color2);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.Github {
    background: var(--color3);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.HTML {
    background: var(--color4);
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.CSS {
    background: var(--color5);
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

.Angular {
    background: var(--color6);
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.React {
    background: var(--color7);
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.Test {
    background: var(--color8);
    grid-column: 1 / 4;
    grid-row: 8 / 9;
}

.Node {
    background: var(--color9);
    grid-column: 1 / 4;
    grid-row: 9 / 10;
}

.contenido {
    background: indigo;
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    overflow-y: scroll;
    padding: 20px;
    color: seashell;
}


/*----------------------FOOTER------------------------- */

.contact-section {
    display: grid;
    grid-template: repeat(1, 1fr) / 50px repeat(9, 1fr);
    background: var(--footer);
    grid-column: 1 / 11;
    grid-row: 11 / 12;
}

.info-contact {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.info-contact>h2 {
    font-size: 2rem;
    color: var(--color10);
    font-family: 'popins', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    margin: 10px 20px 3px 20px;
}

#email {
    font-size: 1rem;
    font-family: 'popins', sans-serif;
    color: var(--color10);
    margin: 3px 20px 15px 23px
}

.info-links {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-links>a {
    color: var(--color10);
    font-size: 1.5rem;
    font-family: 'popins', sans-serif;
}

.social-git {
    background: url(../assets/github.svg) center / cover no-repeat;
    width: 30px;
    height: 30px;
    color: var (-color10);
    margin-right: 5px;
}

.social-link {
    background: url(../assets/linkeding.svg) center / cover no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 10px;
    color: var (-color10);
}

.info-Social-Network {
    grid-column: 8 / 11;
    grid-row: 1 / 2;
}

.info-Social-Network>ul {
    display: flex;
    justify-content: flex-end;
    color: var(--color10);
}

.info-Social-Network>ul>li {
    padding: 0 10px;
    font-size: 1rem;
    font-family: 'popins', sans-serif;
    list-style-type: none;
}

.info-Social-Network>ul>li>span {
    position: static;
    display: flex;
    justify-content: flex-end;
    color: var(--color10);
    font-size: 1rem;
    font-family: 'popins', sans-serif;
}

.copy {
    margin-top: 6px;
}

.flag {
    background: url(../assets/flag-mx.png)center / cover no-repeat;
    width: 30px;
    height: 30px;
}


/*--------------------------------------------------- */

.title {
    font-size: 2.4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    cursor: pointer;
    margin: auto;
    margin-left: 54px;
}

.jc {
    color: white;
    background: #000;
    border-radius: 10px 0px 0px 10px;
    padding: 2px;
}

.dev {
    color: black;
    border-radius: 0px 10px 10px 0px;
    padding: 2px;
    animation: colores 5s ease-in-out infinite;
}

.elements {
    text-align: center;
}


/*---------------------------HOVER------------------------- */

.Design:hover {
    background: var(--hover-design);
}

.Programming:hover {
    background: var(--hover-programming);
}

.Github:hover {
    background: var(--hover-github);
}

.HTML:hover {
    background: var(--hover-html);
}

.CSS:hover {
    background: var(--hover-css);
}

.Angular:hover {
    background: var(--hover-angular);
}

.React:hover {
    background: var(--hover-react);
}


/*------------------------------ICONOS en BARA LATERAL------------------------------- */

.git {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    background: url(../assets/Recurso\ 10.svg) center / cover no-repeat;
}

.development {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 1.svg) center / cover no-repeat;
}

.github {
    display: inline-block;
    width: 39px;
    height: 35px;
    margin-top: 11px;
    margin-bottom: 8px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 2.svg) center / cover no-repeat;
}

.html {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 3.svg) center / cover no-repeat;
}

.css {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 4.svg) center / cover no-repeat;
}

.angular {
    display: inline-block;
    width: 40px;
    height: 37px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 5.svg) center / cover no-repeat;
}

.react {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: url(../assets/Recurso\ 6.svg) center / cover no-repeat;
}


/*-------------------------------SPECIAL STYLE-------------------------------*/


/* -webkit-scrollbar el elemento que envuelve al conjunto
-webkit-scrollbar-button la barra y los botones
-webkit-scrollbar-track el carril de la barra
-webkit-scrollbar-track-piece la parte interna del carril de la barra
-webkit-scrollbar-thumb la almohadilla de la barra, o la barra en sí misma, como prefieras llamarle
-webkit-scrollbar-corner la esquina inferior derecha
-webkit-resize la esquina inferior derecha cuando el elemento es redimensionable*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    /*Carril de la barra */
    background: var(--Navbar);
}

::-webkit-scrollbar-thumb {
    background: var(--footer);
}

@keyframes colores {
    0%,
    100% {
        background-color: #ff6347;
    }
    40% {
        background-color: #9acd32;
    }
    80% {
        background-color: #4464a4;
    }
}